spring.application.name=TenantMonitor

#Database configs
spring.datasource.url=jdbc:mariadb://host:port/database_name
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update

spring.sql.init.mode=always
spring.jpa.defer-datasource-initialization=true

#Security
application.security.jwt.secret-key = jwtSecretKey
#1h in ms
application.security.jwt.expiration-time=3600000

application.backend.url=http://localhost:8080
  
  #15 min in ms
application.security.jwt.access_token_expiration=900000
  #3 days in ms
application.security.jwt.refresh_token_expiration=259200000